{% extends 'classic.html.twig' %}

{% block mainImg %}
    <div class="tm-home-img-container tm-img-container"></div>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-12">
        <h2 class="tm-gold-text tm-title text-xs-center">Introduction</h2>
        <p class="tm-subtitle">Suspendisse ut magna vel velit cursus tempor ut nec nunc. Mauris vehicula, augue in tincidunt porta, purus ipsum blandit massa.</p>
    </div>
</div>
{% endblock %}
