<footer class="tm-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 tm-copyright-col">
                <p class="tm-copyright-text">Sf4Sanbox</p>
            </div>
        </div>
    </div>
</footer>
